div, .maketitle{
  text-align: center;
}

.maketitle {
  font-family:"Century Gothic", Century, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

h2 ~ ul {
  text-transform: uppercase;
  color: red;
}

ol {
  color : black;
  font-size: 75%;
}

.box{
  margin: 10px 10px 10px 10px;
  border: red 5px outset;
  padding: 10px 10px 10px 10px;
}

.position{
  right: 0;
  bottom: 0;
  position: fixed;
}
